@use "../abstracts" as abs;
@use "../components/review-section";

.review {
    padding-bottom: 11rem;
    margin-top: 1rem;

    @include abs.media-query(mobile) {
        margin-top: -8rem;
    }

    .slider-wrapper-review {
        padding: 3rem;
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        gap: 3rem;

        @include abs.media-query(mobile) {
            flex-direction: row;
        }
    }


}