@use "../abstracts" as abs;
@use "../components/team-section";

.team {
    padding: 7.2rem 0 11rem;
    margin-top: 4.8rem;

    .slider {
        overflow: hidden;
    }

    .slider-wrapper {
        padding: 3rem;
        display: flex;
        gap: 2rem;
        overflow-x: scroll;


        &::-webkit-scrollbar {
            display: none;
        }
    }

}