@use "../abstracts" as abs;

.mission {

    &__visual {
        transform: scaleX(-1);

        @include abs.media-query(tablet) {
            display: none;
        }
    }

    &__section {
        color: var(--clr-neutral-white);
        text-align: center;
        padding: 12rem 4.8rem;
        @include abs.flex-center(column);
        gap: 3rem;
    }

    &__title-text {
        font-weight: 700;
        font-size: 4rem;
    }

    &__info {
        max-width: 51rem;
        font-size: 1.8rem;
    }

    &__action-button {
        margin-top: 3.2rem;
        padding: 1.6rem 4.8rem;
        border: 2px solid var(--clr-neutral-white);
        border-radius: 4px;
    }

}